*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.logo {
  height: 100%;
  margin-right: 0.5rem;
}
.heading-1 {
  font-size: 3.5rem;
}
.header,
.footer {
  height: 12rem;
  width: 100%;
  background-color: #c4c4c4;
  padding: 1rem 2.5rem;
}
.main {
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  height: calc(100% - 24rem);

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 3.5rem;
  border-right: 5px solid #000;
  border-left: 5px solid #000;
}

.center-column__img {
  max-width: 50rem;
  width: 90%;
  margin-bottom: 3rem;
  margin-top: 1rem;
  border-radius: 3px;
}
.left-column,
.right-column {
  padding: 3.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comments__container {
  display: flex;
  flex-direction: column;
}
.comment {
  margin-bottom: 3px;
}
.comments__info {
  margin-top: 3rem;
  font-size: 1.8rem;
}

.footer {
  background-color: #f0e4b2;

  display: flex;
  justify-content: flex-end;
}
.footer__contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__contact__list {
  list-style-type: none;
  font-size: 1.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 90em) {
  body {
    font-size: 1.6rem;
  }
  .main {
    height: calc(100% - 16rem);
  }
  .header,
  .footer {
    height: 8rem;
  }
  .footer__contact__list {
    font-size: 1.4rem;
  }
  .heading-1 {
    font-size: 2.6rem;
  }
  .left-column,
  .right-column {
    padding: 2rem 1.75rem;
  }
  .center-column__img {
    max-width: 45rem;
  }
}
@media only screen and (max-width: 80em) {
  .center-column {
    padding: 0;
  }
}
@media only screen and (max-width: 64em) {
  .left-column,
  .right-column {
    padding: 2rem 0.75rem;
  }
  .center-column__img {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  body {
    font-size: 1.2rem;
  }
  .heading-1 {
    font-size: 1.8rem;
  }
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
  .header,
  .footer {
    padding: 0.5rem 1rem;
    padding-right: 0.5rem;
  }
  .main {
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
  }
  .center-column {
    border-right: 3px solid #000;
    border-left: 3px solid #000;
  }
  .center-column__img {
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
  }
  .comments__info {
    font-size: 1.2rem;
  }
  .footer__contact__list {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 25em) {
  html {
    font-size: 55%;
  }
  .main {
    height: calc(100% - 12rem);
  }
  .header,
  .footer {
    height: 6rem;
  }
}
@media only screen and (max-width: 22.5em) {
  html {
    font-size: 52.5%;
  }
  .heading-1 {
    font-size: 1.6rem;
  }
  .footer__contact__list {
    font-size: 1rem;
  }
  .comment {
    font-size: 1rem;
  }
}
@media only screen and (max-height: 37.5em) and (orientation: landscape) {
  body {
    height: 100%;
  }
  .left-column,
  .right-column {
    padding: 3rem 1rem;
  }
}
